[submodule "submodules/nanobind"]
	path = submodules/nanobind
	url = git@github.com:wjakob/nanobind.git
[submodule "submodules/sdl"]
	path = submodules/sdl
	url = git@github.com:libsdl-org/SDL.git
[submodule "submodules/shadercross"]
	path = submodules/shadercross
	url = git@github.com:libsdl-org/SDL_gpu_shadercross.git
[submodule "submodules/tomlplusplus"]
	path = submodules/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
